.wrap{
  text-align: start;
  margin-left: 67px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.list{
  list-style-type: none;
  padding: 0;
  height: 93px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}

.link{
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #8291A3;

  &_bold {
    font-weight: 700;
    color: #1E2123;
  }
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 130px;
  margin-top: 38px;
}

