@import 'reset';
@import 'normalize';
@import 'fonts';
@import 'variables';

@import 'bootstrap/dist/css/bootstrap.min.css';

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

.App {
  text-align: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  color: $main-color;
  background-color: $main-bg-color;

  @media (max-width: $media-phones) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

