$media-laptops: 1200px;
$media-small-desktops: 991px;
$media-tablets: 768px;
$media-phones: 420px;
$media-small-phones: 350px;

$main-color: black;
$main-color-white: white;
$main-color-purple: #664EF9;

$main-color-hover: rgb(120, 149, 178);
$main-color-active: rgb(243, 239, 224);

$main-bg-color: white;


$text-shadow: 0 2px 5px rgba(0, 14, 142, 0.3);


$home-title-color-yellow: #FFD54F;

$spinner-color: #6B50E9;
